canvas{
		display: block;
		position: absolute;
		border: 1px solid #000;
		margin: auto;
		top: 0px;
		bottom: 0;
		right: 0;
		left: 0;
	}
	.up{
		position: absolute;
		bottom: 60px;
		right: 350px;
		width: 300px;
		height: 100px;
		font-size: 21px;
	}
	.down{
		position: absolute;
		bottom: -190px;
		right: 350px;
		width: 300px;
		height: 100px;
		font-size: 21px;
	}
	.left{
		position: absolute;
		bottom: -70px;
		right: 540px;
		width: 300px;
		height: 100px;
		font-size: 21px;
	}
	.right{
		position: absolute;
		bottom: -70px;
		right: 150px;
		width: 300px;
		height: 100px;	
		font-size: 21px;		
	}
	.retry{
	position: absolute;
	bottom: -190px;
	left: 0px;
	width: 300px;
	height: 100px;
	font-size: 21px;
	}
	.instructions{
		max-width: 500px;
		margin-left: 0%;
	}
	.highScore1{

	}
	.highScore2{

	}
	.highScore3{

	}
